body {
    background-image: url("https://wallpapercave.com/wp/wp2326987.jpg");
    /* https://wallpapercave.com/wp/wp2326983.jpg*/
    background-size: cover;
}

.whiteColor {
    color: white
}

.noUnderline {
    text-decoration: none;
}

.noUnderline:hover {
    text-decoration: none;
}

footer {
    text-align: center;
    color: white;
    background-color: #292b2c;
    position: fixed;
    bottom: 0px;
    width: 100%;
}

.dropdownClass {
    font-size: 30px;
    color: whitesmoke;
}

.center {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

.left {
    text-align: left;
    margin-left: 0%;
}

.fix {
    position: fixed;
    padding: 20px 20px 20px 20px;
    bottom: 0px;
    /* Height of the footer*/
    height: 80px;
    width: 100%;
    z-index: 2;
}

.loader {
    border: 16px solid #f3f3f3;
    border-radius: 50%;
    border-top: 16px solid black;
    border-bottom: 16px solid black;
    width: 120px;
    height: 120px;
    -webkit-animation: spin 2s linear infinite;
    animation: spin 2s linear infinite;
}

@-webkit-keyframes spin {
    0% {
        -webkit-transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
    }
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

.dropdown-submenu {
    position: relative;
}

.dropdown-submenu .dropdown-menu {
    top: 0;
    left: 100%;
    margin-top: -1px;
}

.verticalSpanIcon {
    vertical-align: bottom;
}

.cardView {
    color: wheat;
}


/* .cardView:hover {
    border-radius: 10%;
    box-shadow: 8px 8px 8px 8px gray;
    position: relative;
    top: 3px;
    height: 160px;
    width: 160px;
} */

.albumcardView {
    color: wheat;
    border-radius: 10%;
    box-shadow: 4px 4px 4px 4px gray;
    position: relative;
    height: 160px;
    width: 160px;
    float: left;
    margin-bottom: 5%;
}

.albumcardView:hover {
    transform: scale(1.1);
}

#myNavbar {
    background-image: linear-gradient(to top, #2a0404, #230306, #1b0206, #110104, #000000);
    box-shadow: 0.5px 0.3px white;
    z-index: 3;
}

.logo {
    position: relative;
    left: 350px;
}

#guitar {
    position: relative;
    left: 15px;
    top: -8px;
}

#logo {
    position: relative;
    left: -150px;
    top: 10px;
    border-radius: 20px;
    border: 1px solid #afafaf;
    opacity: 0.5;
}

.profile-img {
    border: 2px solid #000000;
    border-radius: 20px;
    box-shadow: 1px 1px rgb(71, 20, 20);
}

.home {
    position: relative;
    left: -140px;
    opacity: 0.7;
}


/*------------------------------------------------------sidebar----------------------------------*/

@import url('https://fonts.googleapis.com/css?family=Josefin+Sans&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
}

.wrapper {
    display: flex;
    position: relative;
    z-index: 1;
}

.wrapper .sidebar {
    width: 200px;
    height: 100%;
    background: #000000;
    padding: 30px 0px;
    position: fixed;
}

.wrapper .sidebar h2 {
    color: #fff;
    text-transform: uppercase;
    text-align: center;
    margin-bottom: 30px;
}

.wrapper .sidebar ul li {
    padding: 15px;
    border-bottom: 1px solid #bdb8d7;
    border-bottom: 1px solid rgba(0, 0, 0, 0.05);
    border-top: 1px solid rgba(255, 255, 255, 0.05);
}

.wrapper .sidebar ul li a {
    color: #9b99a3;
    display: block;
}

.wrapper .sidebar ul li a .fas {
    width: 25px;
}

.wrapper .sidebar ul li:hover {
    background-color: #1e1d20;
    border-radius: 10px;
}

.wrapper .sidebar ul li:hover a {
    color: #fff;
    text-decoration: none;
}

.wrapper .sidebar .social_media {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
}

.wrapper .sidebar .social_media a {
    display: block;
    width: 40px;
    background: #594f8d;
    height: 40px;
    line-height: 45px;
    text-align: center;
    margin: 0 5px;
    color: #bdb8d7;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.wrapper .main_content {
    width: 100%;
    margin-left: 200px;
}

.wrapper .main_content .header {
    padding: 20px;
    background: #fff;
    color: #717171;
    border-bottom: 1px solid #e0e4e8;
}

.wrapper .main_content .info {
    margin: 20px;
    color: #717171;
    line-height: 25px;
}

.wrapper .main_content .info div {
    margin-bottom: 20px;
}

.library {
    color: rgb(61, 59, 59);
    text-align: center;
}