<audio class="fix " id='audio' controls="controls " type="audio/mpeg ">
</audio>

<script>
    async function fetchSong(id) {

        var audio = document.getElementById('audio');

        var options = {
            method: 'GET',
        }
        var res = await fetch(`/song/${id}`, options);
        res = await res.json();

        audio.src = res.songFile;
        audio.load();
        audio.play();
    }
</script>



<footer>
    <div class="container-fluid">
        <div class="row">
            <div class="col-4">
                <br/>
                <p class=".fs-1" id="about"><i class="fas fa-info-circle"> About</i></p>
                <p class="footer"> Music Library<br/>Listen song free</p>

            </div>
            <div class="col-4">
                <br/>
                <p class=".fs-1"><i class="far fa-copyright"> Copyright</i></p>
            </div>
            <div class="col-4">
                <br/>
                <p class=".fs-1"><i class="fas fa-address-book"> Contact</i></p>
                <a target="_blank" class="footer noUnderline" href="https://www.linkedin.com/in/hemant-prakash-913559183/" style="color:hotpink"> <i class="fab fa-linkedin"> Hemant Prakash</i></a><br/>
                <a class="footer " href="mailto:hemantsood1999@gmail.com" style="color:hotpink"><i class="fas fa-envelope"> hemantsood1999@gmail.com</i></a><br/>
                <a target="_blank" class="footer noUnderline" href="https://github.com/Hemant-sood" style="color:hotpink"><i class="fab fa-github"> HemantSood</i></a><br/>

            </div>
        </div>
    </div>
</footer>

</body>

</html>