<audio class="fix" id='audio' controls="controls " type="audio/mpeg ">
</audio>


<br/><br/><br/> <br/>
<br/><br/><br/> <br/>
<br/><br/><br/> <br/>
<br/><br/><br/> <br/>
<br/><br/><br/> <br/>
<br/><br/><br/> <br/>
<br/><br/><br/> <br/>
<br/><br/><br/> <br/>


<script>
    async function fetchSong(id) {

        var audio = document.getElementById('audio');

        var options = {
            method: 'GET',
        }
        var res = await fetch(`/song/${id}`, options);
        var song = await res.json();

        audio.src = song.url;
        audio.load();
        audio.play();

    }
</script>

</body>

</html>